
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contactus</title>
</head>
<body>
    <div>
        <h1>Contact Us Page</h1>
        <a href="/"> Home</a>
        <a href="AboutUs"> About US</a>

    </div>
</body>
</html>
