
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AcceptNprint</title>
</head>
<body>
    <div>
        <input type="text" name="user" />
        <input type="submit" value=" print" />
        @ViewData["Result"];
    </div>
</body>
</html>
