
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FindGreatest</title>
</head>
<body>
    <div>
        @{ int a = 5; int b = 10;  if (a > b) { <b> @a is greater  </b>
            }
            else
            {
            <b> @b is greater</b>
            }
        }
    </div>
</body>
</html>
