
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Printname</title>
</head>
<body>
    <div> 
        @ViewData["name"]</br>
        </br>
        @ViewBag.name
    </div>
</body>
</html>
