@model MvcOnline.Models.feedback
@{
    ViewBag.Title = "productfeedback";
    Layout = "~/Views/Shared/SiteMaster.cshtml";
    <link href="~/Contents/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet" />
}

<div>
    <h1>Cutomers Feedback Form </h1>
    <hr />
    <form method="post">

        <table>
            <tr>
                <td>Enter Title</td>
                <td> @Html.TextBoxFor(c => c.title, new { @class = "form-control" })  </td>
            </tr>


            <tr>
                <td> Enter Feedback </td>
                <td> @Html.TextAreaFor(c => c.fb, new { @class = "form-control" })  </td>
            </tr>


            <tr>
                <td></td>
                <td> <input type="submit" value="Submit Feedback" /> </td>
            </tr>
        </table>

    </form>
    @ViewData["err"]

</div>